* {
  margin: 0;
  padding: 10px;
  background-color: antiquewhite;
}

header nav {
  display: flex;
  justify-content: space-around;
}
header a {
  color: black;
  font-size: 3em;
  border: 5px solid black;
  border-radius: 1rem;
  text-decoration: none;
}
a:hover {
  color: gray;
  border: 5px solid gray;
}